/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;

  max-width: 1437px;
  margin: auto;
  background-color: rgb(144, 113, 113);
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1 {
  padding: 10px;
}

/* ====================================
// base rules
// ==================================== */
header,
main {
  background-color: white;
}

h1 {
  padding-left: 58px;
}

footer {
  position: relative;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  padding-right: 160px;
}

footer h2 {
  font-weight: lighter;
  font-size: 60px;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 368px;
}

footer h4 {
  color: #8a8a8a;
  font-weight: lighter;
  font-size: 30px;
  padding-top: 35px;
  padding-left: 30px;
  padding-bottom: 15px;
}

footer h3 {
  color: white;
  font-weight: lighter;
  font-size: 20px;
  padding-top: 35px;
  padding-left: 132px;
  padding-bottom: 38px;
}

footer p {
  color: rgba(255, 255, 255, 0.492);
  font-weight: lighter;
  font-size: 17px;
  padding-left: 132px;
  padding-bottom: 20px;
}
