.l-top-nav {
  background-color: black;
  color: white;
}

.l-top-nav {
  text-align: end;
  padding-top: 27px;
  padding-bottom: 32px;
  font-size: 20px;
  display: flex;
}

.l-top-nav,
a {
  flex-direction: row;
}

.l-Best-Seller-Product {
  padding-top: 45px;
  background-color: black;
  color: white;
}

.l-Best-Seller-Product h2 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}

.l-Best-Seller-Product .container {
  display: flex;
}

.l-Best-Seller-Product {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-bottom: 58px;
}

.l-Best-Seller-Product a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 45px;
  padding-bottom: 58px;
}

.l-Our-values-are-your-happiness {
  background-color: #ee9f61;
  color: #314731;
}

.l-Our-values-are-your-happiness p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.l-Our-values-are-your-happiness h3 {
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.l-Our-values-are-your-happiness h2 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  padding-top: 30px;
  padding-left: 140px;
  padding-bottom: 51px;
}
.l-Our-values-are-your-happiness .container {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.l-mail-grey {
  background-color: #7c7c7c;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  padding: 20px 143px 20px 24px;
  margin: 128px 399px 66px 60px;
}

.l-points-of-sale h3 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  padding-left: 56px;
  padding-bottom: 22px;
}

.l-contact-us {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: white;
  background-color: #000000ce;
}

.l-contact-us h2 {
  font-weight: lighter;
  font-size: 60px;
  padding: 32px 195px 15px 30px;
}

.l-contact-us p {
  font-weight: lighter;
  font-size: 25px;
  padding: 32px 195px 15px 30px;
}

.country {
  font-weight: lighter;
  font-size: 20px;
  padding: 85px 60px 29px 30px;
}
