.l-top-nav {
  background-color: black;
  color: white;
  text-align: end;
  padding-top: 27px;
  padding-bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-right: 120;
  margin-bottom: 67px;
}

header img {
  margin-bottom: 37px;
}
.l-top-nav a {
  text-decoration: none;
  padding-right: 29px;
}

.l-bio-product .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.l-bio-product-list {
  border-radius: 50px;
  padding: 7px 38px 8px 38px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  background-color: black;
  color: white;
  margin-bottom: 138px;
}

.l-Best-Seller-Product {
  padding-left: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-bottom: 58px;
  padding-top: 45px;
  background-color: black;
  color: white;
}

.l-Best-Seller-Product p {
  padding-right: 104px;
  padding-top: 27px;
}

.l-Best-Seller-Product h2 {
  padding-right: 104px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}

.l-Best-Seller-Product a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 45px;
  padding-bottom: 58px;
}

.l-Our-values-are-your-happiness {
  background-color: #ee9f61;
  color: #314731;
  padding-right: 185px;
}

.l-Our-values-are-your-happiness p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 99px;
  padding-left: 60px;
}

.l-Our-values-are-your-happiness h3 {
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding-left: 60px;
}

.l-Our-values-are-your-happiness h2 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  padding-top: 47px;
  padding-left: 60px;
  padding-bottom: 51px;
}

.l-mail-grey {
  background-color: #7c7c7c;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  padding: 20px 143px 20px 24px;
  margin: 128px 399px 66px 60px;
}

.l-points-of-sale h3 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  padding-left: 56px;
  padding-bottom: 22px;
}

.l-contact-us {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: white;
  background-color: #000000ce;
}

.l-contact-us h2 {
  font-weight: lighter;
  font-size: 60px;
  padding: 32px 195px 15px 30px;
}

.l-contact-us p {
  font-weight: lighter;
  font-size: 25px;
  padding: 32px 195px 15px 30px;
}

.country {
  font-weight: lighter;
  font-size: 20px;
  padding: 85px 60px 29px 30px;
}

.l-Our-best-recipes h3 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
  padding-top: 182px;
  padding-bottom: 74px;
}

.l-Our-best-recipes p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  text-align: end;
  padding-right: 75px;
  padding-bottom: 141px;
  padding-top: 38px;
}
